<main class="flex w-full h-screen items-center justify-center bg-slate-300">
    <div class="flex justify-center items-center h-auto border border-black w-[500px] py-8 px-8 rounded-lg">
        <div class="flex flex-col justify-center items-center gap-8"></di>
            <h1 class="text-4xl">Bienvenido a mi aplicacion de crecion de personas</h1>
            <button class="border border-black p-2 rounded-lg"><a href="/add">Crear una persona</a></button>
        </div>
    </div>           
</main>