<nav class="bg-slate-300"></nav>
    <div class="mx-auto flex justify-between items-center py-4 px-8 bg-slate-200 border-b border-black">
      <!-- Logo -->
      <div class="text-black font-bold text-lg">
        <h1>CRUD NODE.JS</h1>
      </div>

      <!-- Links -->
      <ul class="flex space-x-6">
        <li><a href="/" class="text-black hover:text-gray-200">Inicio</a></li>
        <li><a href="/add" class="text-black hover:text-gray-200">Crear</a></li>
        <li><a href="/list" class="text-black hover:text-gray-200">Listar</a></li>
      </ul>
    </div>
  </nav>